{{setPageTitle "RSVP for Badminton"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1 class="ann">
        <span class="ann-primary">{{guestsNames html=true}},</span>
        <span class="ann-secondary">
            Thanks for letting me know you are not planning to attend the
            Optional Badminton Event.
        </span>
    </h1>

</div>

