{{setPageTitle "RSVP for Badminton"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>RSVP for Optional Badminton Event on Tuesday 20th</h1>

    <p class="callout">
        To respond, you’ll need to follow the special link which was emailed to you.
    </p>
</div>
