{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>Behnaz’ is now officially a PhD in Environmental Science!</h1>

    <p>
        My PhD dissertation was a success and I’m, so this RSVP function is no longer necessary and has been deactivated.
    </p>

    <p style="text-align: center;">
        <a class="button" data-icon="H" href="/">Go to Homepage</a>
    </p>
</div>
