{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="attending">
        <div class="l-contain">
            <h1 class="ann">
                <span class="ann-primary">{{guestsNames attending=true html=true}},</span>
                <span class="ann-secondary">Yay, I’m Happy You’ll Be Attending!</span>
            </h1>
        </div>

      {{#with invitation}}
        <div class="inv l-contain">
            <p class="inv-header l-grid">
                <span class="inv-status l-grid-u">
                    {{../status}}
                </span>

                <span class="inv-ctrls l-grid-u">
                    <button class="inv-edit" data-icon="e" data-edit>Edit</button>
                    <button class="inv-done" data-icon="c" data-done>Done</button>
                </span>
            </p>

            <div class="inv-guests l-grid">
              {{#guests drinks = ../drinks}}
                {{> rsvp/guest}}
              {{/guests}}
            </div>

            <div class="inv-comment">
                <b>Comment:</b><br>
                <comment>{{comment}}</comment>
            </div>
            <div class="inv-comment-val">
                <label for="inv-comment-val">Comment:</label><br>
                <textarea data-comment id="inv-comment-val" rows="3">{{comment}}</textarea>
            </div>
        </div>
      {{/with}}
    </div>
</div>
