{{> rsvp/meta}}

<div id="main" role="main">
    <div data-view="notAttending">
        <div class="l-contain">
            <h1 class="ann">
                <span class="ann-primary">{{guestsNames html=true}},</span>
                <span class="ann-secondary">I’m Sorry You Won’t Be Attending.</span>
            </h1>
        </div>

        <div class="inv l-contain">
            <p>
                I would appreciate if you attended. If you change your mind, let me know: <b><a href="mailto:behnaz@pirzamanbin.name">behnaz@pirzamanbin.name</a></b>
            </p>
        </div>
    </div>
</div>
