{{setYUIModule "le-home"}}
{{setDescription "Behnaz is defending her PhD on December 19th, 2016, in Lund, Sweden."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Behnaz</span>
    <span class="ann-secondary ann-sep">PhD</span>
    <span class="ann-primary">Dissertation</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Winning Student Paper Competition"
        time   = "June, 2016"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
	        {"filename": "/photos/image21.jpg", "height": "220px", "alt": "Behnaz wins the JSM."},
                {"filename": "/photos/image29.jpg", "height": "220px", "alt": "Behnaz at JSM."}
	    ],[
                {"filename": "/photos/image12.jpg", "height": "220px", "alt": "Behnaz presenting at JSM."}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>The best part of the PhD so far, happened at JSM 2016 this summer in Chicago, where Behnaz got her prize for the outstanding Bayesian research applied on climate science from the section on Bayesian Statistical Sciences (SBSS) and was recognized as Honorary mention in section on Statistics and Environment (ENVR), in the student paper competition, American Statistical Association (ASA), 2016.
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Great PhD fun"
        time   = "2012 - 2016"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image26.jpg", "height": "180px", "alt": "Summer BBQ"},
                {"filename": "/photos/image34.jpg", "height": "180px", "alt": "Eating out at Gloria\'s"}
            ],[
                {"filename": "/photos/image11.jpg", "height": "210px", "alt": "House party"},
                {"filename": "/photos/image30.jpg", "height": "210px", "alt": "More party"}
            ],[
                {"filename": "/photos/image31.jpg", "height": "180px", "alt": "Buzios"},
                {"filename": "/photos/image33.jpg", "height": "180px", "alt": "More Buzios"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>All 5 years of PhD has its own ups and downs, from when nothing works to all the PhD gathering and funs in Lund or at workshops. The last two pictures are from PASI 2014 in Rio, Brazil, a work shop that took place at the same as the football world cup.
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Playing Badminton for Sweden"
        time   = "2013 - 2015"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image08.jpg", "height": "220px", "alt": "Behnaz Pirzamanbin in Bulgaria International 2015"},
                {"filename": "/photos/image16.jpg", "height": "220px", "alt": "Behnaz Pirzamanbin in Swedish Master, 2013"}
            ],[
                {"filename": "/photos/image20.jpg", "height": "220px", "alt": "Behnaz Pirzamanbin in Swedish Master, 2013"},
                {"filename": "/photos/image37.jpg", "height": "220px", "alt": "Behnaz Pirzamanbin in SGP, 2012"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>In 2013, Behnaz started to play for Sweden in International tournament.The best rank she achieved with Swedish flag was in July 2015 in Road to Rio ranking list, where she had rank 84.</p>
      <p>Under both Swedish and Iranian flag, Behnaz has competed in Badminton in five continents, more than 30 countries and 100 cities.</p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Badminton: Blood, Sweat and Tears"
        time   = "2013"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image36.jpg", "height": "190px", "alt": "During multi-shuttle"},
                {"filename": "/photos/image15.jpg", "height": "190px", "alt": "... After multi-shuttle"}
            ],[
                {"filename": "/photos/image01.jpg", "height": "220px", "alt": "Lund university team at EUG, 2013."}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>In 2013, after her recovery from ankle injury, she played for Lund university in European University Games in Uppsala. Following that she started to practice in the morning 7-9, two times a week, in Copenhagen Badminton Center with Anu Nieminen (4 times olympian from Finland) as coach and a couple of great badminton players, including Nicola Cerfontyne (#1 in England) and Nanna Vainio (#1 in Finland).</p>
      <p>Behnaz says, “I was getting up at 5:30 to reach the train at 6 to be at the practice at 7. After practice, I had to rush to S-tog to reach the central to take the train to Lund to be at work at 10:30. You might ask: "why?". I would say, to reach my dreams, I will do anything.” </p>
      <p>The top left picture shows one of the Tuesday's sessions with 1h 30min multi-shuttles. These multi-shuttle excercies had around 700-900 shuttle drills with high intensity. You can see the results in the top right picture.</p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Begin.PhD();"
        time   = "January 1st, 2012"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image23.jpg", "height": "220px", "alt": "Behnaz\'s Office Window"},
                {"filename": "/photos/image28.jpg", "height": "220px", "alt": "Behnaz\'s Snow Angel"}
            ],[
                {"filename": "/photos/image02.jpg", "height": "220px", "alt": "Spring around Math building in Lund"},
                {"filename": "/photos/image32.jpg", "height": "220px", "alt": "Autumn around Math building in Lund"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>Behnaz started her PhD from January 1<sup>st</sup> 2012.</p>
      <p>In the same year she dislocated her ankle (picture is available on request, if you haven’t seen it yet).
She say “those moments of my life without Badminton is the most boring ones! I do stuff but it always feels like something is missing.”
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Moved to Lund"
        time   = "2009 - 2012"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image14.jpg", "height": "220px", "alt": "Lund university Library"},
                {"filename": "/photos/image09.jpg", "height": "220px", "alt": "Master Graduation Ceremony in front of main university building"}
            ],[
                {"filename": "/photos/image04.jpg", "height": "240px", "alt": "LUGI Badminton players, 2014"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>She stayed in Växjo for one year (2008/2009) finishing all the mandatory courses of her Mathematics and Modeling master. Then she moved to Lund to study her second master, Mathematical statistics, while finishing the thesis of the first one, in parallel.</p>
      <p>She started working as a head coach in LUGI Badminton club 2010, where she began playing from 2012.</p>
      <p>She completed her second master thesis in Lund 2012.</p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Hello Sweden"
        time   = "2008"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image00.jpg", "height": "220px", "alt": "Sunset at Trummen lake, Växjö"},
                {"filename": "/photos/image17.jpg", "height": "220px", "alt": "Spring at Växjösjön, Växjö"}
            ],[
                {"filename": "/photos/image10.jpg", "height": "220px", "alt": "Winter at frozen lake, Växjösjön, Växjö"},
                {"filename": "/photos/image05.jpg", "height": "220px", "alt": "Standing on thin ice, at Växjösjön, Växjö"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>In 2008 Behnaz was admitted to Växjo University to study Mathematics and Modeling and moved to Sweden.</p>
      <p>Behnaz says, “My first impression of arriving in Växjo was: ‘Where are all the people!?’. Växjö is a magical city with all the beautiful nature, including two big lakes in the center (even more around), forests and so on.” </p>
      <p>During these times, she started to play in a Danish club, Greve, and participated in the morning practices with top 100 ranked girls.</p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "World: Meet Behnaz!"
        time   = "2004 - 2007"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image19.jpg", "height": "220px", "alt": "Single against Salakjit Ponsana, Asian Games, Doha, 2006"},
                {"filename": "/photos/image25.jpg", "height": "220px", "alt": "Double against #1 Chinese double pair, with Nakisa, Asian Games, Doha, 2006"}
            ],[
                {"filename": "/photos/image06.jpg", "height": "220px", "alt": "Injured during game against Chinese double pair, Asian Games, Doha, 2006"},
                {"filename": "/photos/image22.jpg", "height": "220px", "alt": "Behnaz\'s Collection of medals"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>During her bachelor study, she became the only Iranian Badminton player who so far qualified for both the Asian Games and the World Championship, 2006. From 2005, the Iranian government agreed to send women badminton players abroad for some limited tournaments. This was made possible by the innovative design for the competition clothes made by Behnaz and her double partner Setayesh.</p>
      <p>The lower left photo shows the moment that lead to her knee surgery.</p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Bezo #1"
        time   = "1999 - 2003"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image18.jpg", "height": "230px", "alt": "Entrance of Iran University of Science and Technology"},
                {"filename": "/photos/image24.jpg", "height": "230px", "alt": "Behnaz\'s Collection of trophies."}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>Behnaz was admitted to Iran University of Science and Technology, Tehran, to study applied Mathematics. Public universities at that time had 300&nbsp;000 seats each year and 1&nbsp;500&nbsp;000 applicants took a four-hour entrance exam on four general and three program-specific topics. She received rank 2&nbsp;000 in the regional and 6&nbsp;000 in the national level.</p>
<p>During high school, Behnaz always received the best grade in Mathematics and the worst one in dictation.</p>
<p>At the age of 14, she also became #1 Badminton player in Iran and won several national competitions.</p>
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event "Memories"
        time   = "1988"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image27.jpg", "height": "220px", "alt": "Behnaz at age of 3"},
                {"filename": "/photos/image03.png", "height": "220px", "alt": "Map of Tehran with location of Kindergarten and Hospital"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>Around age three, a miracle happened in her life during the war between Iran and Iraq. Her mother used to work in the laboratory of the biggest hospital in Iran. Behnaz spent time in the kindergarten on the other side of the hospital area while her mom was working. One of Iraqi jets targeted the hospital and the bomb hit the ground beside the kindergarten.
Thankfully, the bomb didn't explode. It’s believed the reason is that construction work in the area exposed soft sand which the bomb landed on without exploding.</p>
      <p>She says, “Unfortunately, one of my first memories in life is that accident. 2.5 years old, all I remember is that I was leading younger kids to shelter after the bomb hit  and all the windows in the area shattered. It was shocking. But perhaps I learned to live every moment of my life to its fullest. Nothing can be more painful and stressful than war.”
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}


  {{#event 'First injury'
        time   = "1986"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image07.jpg", "height": "320px", "alt": "Behnaz, ~1 year."}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>She was from beginning into sport activities and injuries. <br/>But pain is not something that makes her give up.
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}



  {{#event "It begins..."
        time   = "1985"}}

    {{> event/header}}

  <div class="event-contents">
    <div class="event-top-photos">
    {{#getJsonContext '[
            [
                {"filename": "/photos/image13.jpg", "height": "300px", "alt": "Just born"}
            ]
	]'}}
      {{> event/photo_many this}}
    {{/getJsonContext}}
    </div>
    <div class="event-bottom-text">
      <p>Behnaz is born on 17<sup>th</sup> Esfand 1363 or 7<sup>th</sup> March 1985 in Tehran, Iran. However, her official birthday is 2<sup>nd</sup> Farvardin 1364 or 22<sup>nd</sup> March 1985. As you might noticed with shifting 15 days she became 1 year younger in Iranian calendar.
      </p>
    {{> event/time}}
    </div>

  </div>
  {{/event}}

</ol>
